@charset "UTF-8";
/* Shawarma Express */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

body {
	font-family: sans-serif;
}

img {
	width: 100%;
}

h4 {
}

#menu-hero {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
	background-image: url(../images/sandwiches/menu-hero.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding: 2rem 1rem;
}

#menu-hero h1{
	margin: 8rem auto;
}



/* /////////////////////////////////////////////////////////////// Menu Contents */

#menu-wrapper {
	border: 2px solid red;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

.row-container {
	margin-bottom: 1rem;
}

.row-container li{
	display: inline-block;
	position: relative;	
	
}

.row-container p {
	margin: 5px 0 5px;
	padding-right: 15px;
}

.row-container ul {
	margin: 5px 0;
	overflow: hidden;
}

.row-container img {
		max-width: 150px
	}

.img-container {
	background: url('../img/rec2.jpg') no-repeat center center;
	height: 100px;
	width: 100%
}

.img-container2 {
	background: url('../img/rec2.jpg') no-repeat center center;
	height: 100px;
	width: 100%
}

.sections {
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #000;
}


.text-container li{
	margin-right: 1rem;
}

.intro {
	margin-bottom: 1rem;
}

.intro p{
	margin: 0 0 0 0;
}

#menu-wrapper li::first-letter { 
    font-size: 100%;
    color: #000;
    font-weight: 700;
}




/* /////////////////////////////////////////////////////////////////////////// Lightbox*/

#imagelightbox {
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}



.imagelightbox-arrow
		{
			width: 3.75em; /* 60 */
			height: 7.5em; /* 120 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			vertical-align: middle;
			display: none;
			position: fixed;
			z-index: 10001;
			top: 50%;
			margin-top: -3.75em; /* 60 */
		}
		.imagelightbox-arrow:hover,
		.imagelightbox-arrow:focus
		{
			background-color: #666;
			background-color: rgba( 0, 0, 0, .75 );
		}
		.imagelightbox-arrow:active
		{
			background-color: #111;
		}
			.imagelightbox-arrow-left
			{
				left: 2.5em; /* 40 */
			}
			.imagelightbox-arrow-right
			{
				right: 2.5em; /* 40 */
			}
			.imagelightbox-arrow:before
			{
				width: 0;
				height: 0;
				border: 1em solid transparent;
				content: '';
				display: inline-block;
				margin-bottom: -0.125em; /* 2 */
			}
				.imagelightbox-arrow-left:before
				{
					border-left: none;
					border-right-color: #fff;
					margin-left: -0.313em; /* 5 */
				}
				.imagelightbox-arrow-right:before
				{
					border-right: none;
					border-left-color: #fff;
					margin-right: -0.313em; /* 5 */
				}

		#imagelightbox-loading,
		#imagelightbox-overlay,
		#imagelightbox-close,
		#imagelightbox-caption,
		#imagelightbox-nav,
		.imagelightbox-arrow
		{
			-webkit-animation: fade-in .25s linear;
			animation: fade-in .25s linear;
		}
			@-webkit-keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}
			@keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}

		@media only screen and (max-width: 41.250em) {/* 660 */
		
			#container
			{
				width: 100%;
			}
			#imagelightbox-close
			{
				top: 1.25em; /* 20 */
				right: 1.25em; /* 20 */
			}
			#imagelightbox-nav
			{
				bottom: 1.25em; /* 20 */
			}

			.imagelightbox-arrow
			{
				width: 2.5em; /* 40 */
				height: 3.75em; /* 60 */
				margin-top: -2.75em; /* 30 */
			}
			.imagelightbox-arrow-left
			{
				left: 1.25em; /* 20 */
			}
			.imagelightbox-arrow-right
			{
				right: 1.25em; /* 20 */
			}
		}

		@media only screen and (max-width: 20em) {/* 320 */
		
			.imagelightbox-arrow-left
			{
				left: 0;
			}
			.imagelightbox-arrow-right
			{
				right: 0;
			}
		}


@media only screen and (min-width: 25em) {/*400px*/
	.row-container img {
		float: right;
	}
}

@media only screen and (min-width: 30em) {/*480px*/
	.text-container {
		padding-left: 15px;
	}

	.row-container img {
		max-width: 120px
	}

	.text-container li{
	margin-bottom: 1rem;
}

}

@media only screen and (min-width: 60em) {/*960px*/

}

@media only screen and (min-width: 90em) {/*1440px*/
}





















