@charset "UTF-8";
/* Shawarma Express */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

body {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

#menu-wrapper {
	width: 90%;
	margin: 20px auto;
	padding: 30px;
	background-color: rgba(255,255,255,0.6);
}

.menu-hero {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-image: url(../images/menu/menu.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding: 13rem 1rem;

}

.menu-nav {
	width: 90%;
	margin: 20px auto 0;
	text-align: center;
}

.menu-nav li{
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: rgba(0,0,0, 0.6);
	color: oldlace;
}

.menu-nav li:hover {
	background-color: #000;
}

.row-container {
	margin: 1.5rem 0;
}

.row-container p {
	margin: 5px 0 5px;
}

.row-container img {
		max-width: 150px
	}

.img-container {
	background: url('../img/rec2.jpg') no-repeat center center;
	height: 100px;
	width: 100%
}

.img-container2 {
	background: url('../img/rec2.jpg') no-repeat center center;
	height: 100px;
	width: 100%
}

.ul-container {
	text-align: center;
}

.ul-container ul{
	margin-top: 5px;
}

.ul-container li{
	display: inline-block;
	position: relative;	
	padding: 5px;
	margin: 0 3px 5px 0;
	border: 1px solid #000;
	font-size: 14px;
}

.plates .ul-container ul {
	text-align: right;
}


.section-line {
	color: #000;
	background-color: #000;
	height: 5px;
}

.subsection-line {
	color: #000;
	background-color: #000;
	height: 2px;
}

.section-intro {
	margin: 15px 0;
}

.section-intro .script {
	font-family: 'Satisfy', sans-serif;
	font-size: 20px;
}

#sandwiches h2 {
	margin-bottom: 1px;
}

.anchor{
  display: block;
  height: 40px; /*same height as header*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}

::selection {
  background: gainsboro; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: gainsboro; /* Gecko Browsers */
}

.chicken-beef ul{
	margin: 0 auto;
}

.chicken-beef li{
	display: inline-block;
	width: 45%;
	border: 2px dotted #000;
	margin: 2%;
	text-align: center;
	padding: 12px;

}

.disclaimer {
	text-align: center;
	border: 2px dotted #000;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
}

.disclaimer i {
	margin-right: 6px;
}

.disclaimer li{
	display: inline-block;
	padding: 8px;
}

.vegan {
	color: green;
}

.vegi {
	color: yellow;
}

.fa-exclamation {
	color: chocolate;
}

.sandwiches .row-container ul li::first-letter,
.dishes-salads .row-container ul li::first-letter,
.meal-deals .row-container ul li::first-letter,
.original-sides .row-container ul li::first-letter {
	font-size: 15px;
	font-weight: 700;
	margin-right: 2px;
}

.other-goodies em {
	font-size: 15px;
	font-weight: 700;
	margin-right: 2px;
	margin-left: 0;
}

em {
	font-size: 15px;
	font-weight: 700;
	margin-left: 4px;
}


#imagelightbox {
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}



.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: rgba( 0, 0, 0, .75 );
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
	.imagelightbox-arrow-left
	{
		left: 2.5em; /* 40 */
	}
	.imagelightbox-arrow-right
	{
		right: 2.5em; /* 40 */
	}
	.imagelightbox-arrow:before
	{
		width: 0;
		height: 0;
		border: 1em solid transparent;
		content: '';
		display: inline-block;
		margin-bottom: -0.125em; /* 2 */
	}
		.imagelightbox-arrow-left:before
		{
			border-left: none;
			border-right-color: #fff;
			margin-left: -0.313em; /* 5 */
		}
		.imagelightbox-arrow-right:before
		{
			border-right: none;
			border-left-color: #fff;
			margin-right: -0.313em; /* 5 */
		}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
	@-webkit-keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}
	@keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}




@media only screen and (max-width: 20em) {/* 320 */

	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}


@media only screen and (min-width: 25em) {/*400px*/
	.menu-hero {
		padding: 18rem 1rem;
	}
}

@media only screen and (min-width: 38em) {/*480px medium*/
	.menu-hero {
		padding: 18rem 1rem;
	}

	#menu-wrapper {
		width: 75%;
	}

	.row-container ul {
		text-align: right;
		margin-top: 0;
	}

	.indent {
		padding-left: 20px;
	}

}

@media only screen and (max-width: 41.250em) { /* 660 */

	.menu-hero {
		padding: 20rem 1rem;
	}

	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}

@media only screen and (min-width: 60em) {/*960px large*/

	.menu-hero {
		padding: 22rem 1rem;
	}

	#menu-wrapper {
		width: 70%;
	}

}

@media only screen and (min-width: 90em) {/*1440px xlarge*/
	#menu-wrapper {
			width: 60%;
		}
}





















